/* font cnd */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
main{
    /* display: flex; */
    display: grid;
    /* flex-direction: column; */
   justify-content: center;
   
}
nav{
    /* margin-top: 50px; */
    /* display: inline; */
    display: flex;

}
.top-button a{
    text-decoration: none;
    color: white;
    font-weight: 800;
}
.menu{
    
   
   
}
.menu a{
    text-decoration: none;
    margin-left: 20px;
    float: left;
    color: black;
}
.container{
    
    width: 900px;
    background-color: white;
    
}
.top{
    display: flex;
    height: 500px;
}

.section-top-1 h1{
    font-size: 52px;
}
.section-top-1 p{
    font-size: 16px;
}
.section-top-1 button{
    width: 196px;
    height: 44px;
    background: #E02C6D;
    border-radius: 20px;
    color: cornsilk;
    font-weight: bold;

}
.section-top-2 img{
    /* position: absolute; */
    width: 440px;
    height: 414px;
}
/* company section  */
.company-img{
    
   
}
.company-logo{
    margin-left: 30px;
    margin-bottom: 50px;

}
/* products section  */
.products-title{
    text-align: center;
    margin-bottom: 50px;
}
.products{
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 26px;
    grid-column-gap: 30px;
    border-radius: 20px;
    
   
   
}
.product img{
    width: 300px;
    height: 256px;
}

.see-more-button {
    
    float: right;
    width: 196px;
    height: 44px;
    border-radius: 20px;
    color: white;
    background-color: #E02C6D;
    font-weight: bold;
   
}
.see-more-button a{
    text-decoration: none;
    color: white;
}
.app-sec{
    text-align: center;
}
.app-download{
   
    display: flex; 
    justify-content: center;

}

.fab{
    padding: 20px;
    font-size: 40px;
  
    text-decoration: none;
   
    border-radius: 20px; 

}
.fa {
    padding: 20px;
    font-size: 20px;
    width: 20px;
    text-decoration: none;
    margin: 4px 2px;
    border-radius: 20px;
  }
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }
  footer{
      margin-top: 10px;
     padding-top: 10px;
     padding-bottom: 10px;
      text-align: center;
      color: white;
      background-color: black;
  }
  